@model Library.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Index";
}

<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            @foreach (var item in Model.ContactHeaders)
            {
                <h2>@item.Title</h2>
                <span class="underline center"></span>
                <p class="lead">@item.Text</p>
            }

        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</section>

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="contact-main">
                <div class="contact-us">
                    <div class="container">
                        <div class="contact-location">

                            @foreach (var item in Model.ContactPhones)
                            {
                                <div class="flipcard">
                                    <div class="front">
                                        <div class="top-info">
                                            <span><i class="@item.Icon" aria-hidden="true"></i> @item.Title</span>
                                        </div>
                                        <div class="bottom-info">
                                            <span class="top-arrow"></span>
                                            <ul>
                                                <li>@item.Country </li>
                                                <li>@item.City</li>
                                                <li>@item.District</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <div class="bottom-info orange-bg">
                                            <span class="bottom-arrow"></span>
                                            <ul>
                                                <li>@item.Country </li>
                                                <li>@item.City</li>
                                                <li>@item.District</li>
                                            </ul>
                                        </div>
                                        <div class="top-info dark-bg">
                                            <span><i class="@item.Icon" aria-hidden="true"></i> @item.Title</span>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="contact-area">
                                <div class="container">
                                    <div class="col-md-5 col-md-offset-1 border-gray-left">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="contact-map bg-light margin-left">
                                                    <div class="company-map" id="map"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 border-gray-right">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="contact-form bg-light margin-right">
                                                    <h2>Send us a message</h2>
                                                    <span class="underline left"></span>
                                                    <div class="contact-fields">
                                                        <form id="contact" name="contact" action="http://libraria.demo.presstigers.com/contact.html" method="post">
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="text" required placeholder="First Name" name="first-name" id="first-name" size="30" value="" aria-required="true" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="text" required placeholder="Last Name" name="last-name" id="last-name" size="30" value="" aria-required="true" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" required type="email" pattern="[A-Za-z0-9._%+-]+[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" placeholder="Email" name="email" id="email" size="30" value="" aria-required="true" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="text" required placeholder="Phone Number" name="phone" id="phone" size="30" value="" aria-required="true" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control" required placeholder="Your message" id="message" aria-required="true"></textarea>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="form-group form-submit">
                                                                        <input class="btn btn-default" id="submit-contact-form" type="button" name="submit" value="Send Message" />
                                                                    </div>
                                                                </div>
                                                                <div id="success">
                                                                    <span>Your message was sent successfully! Our team will contact you soon.</span>
                                                                </div>

                                                                <div id="error">
                                                                    <span>Something went wrong, try refreshing and submitting the form again.</span>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<section class="social-network section-padding">
    <div class="container">
        <div class="center-content">
            <h2 class="section-title">Follow Us</h2>
            <span class="underline center"></span>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <ul>
            @foreach (var item in Model.Logos)
            {
                <li>
                    <a class="@item.Classs" href="#" target="_blank">
                        <span>
                            <i class="@item.Image"></i>
                        </span>
                    </a>
                </li>
            } 
        </ul>
    </div>
</section>

