@model Library.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Index";
}

<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            @foreach (var item in Model.BlogHeaders.Take(1))
            {
                <h2>@item.Title</h2>
                <span class="underline center"></span>
                <p class="lead">@item.Text</p>
            }

        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="index-2.html">Home</a></li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</section>

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="blog-main-list">
                <div class="container">
                    <div class="row">
                        <div class="blog-page grid">

                            @foreach (var item in Model.BlogInfos)
                            {
                                <article>
                                    <div class="grid-item blog-item">
                                        <div class="post-thumbnail">
                                            <div class="post-date-box">
                                                <div class="post-date">
                                                    <a class="date" href="#.">07</a>
                                                </div>
                                                <div class="post-date-month">
                                                    <a class="month" href="#.">Mar</a>
                                                </div>
                                            </div>
                                            <a href="blog-detail.html"><img alt="blog" src="~/Public/images//blog/@item.Photo" /></a>
                                            <div class="post-share">
                                                <a href="#."><i class="fa fa-comment"></i> 37</a>
                                                <a href="#."><i class="fa fa-thumbs-o-up"></i> 110</a>
                                                <a href="#."><i class="fa fa-eye"></i> 180</a>
                                                <a href="#."><i class="fa fa-share-alt"></i> Share</a>
                                            </div>
                                        </div>
                                        <div class="post-detail">
                                            <header class="entry-header">
                                                <div class="blog_meta_category">
                                                    <span class="arrow-right"></span>
                                                    <a href="#." rel="category tag">Design</a>,
                                                    <a href="#." rel="category tag">art</a>
                                                </div>
                                                <h3 class="entry-title"><a href="blog-detail.html">@item.Title</a></h3>
                                                <div class="entry-meta">
                                                    <span><i class="fa fa-user"></i> <a href="#">Admin</a></span>
                                                    <span><i class="fa fa-comment"></i> <a href="#">15 Comments</a></span>
                                                </div>
                                            </header>
                                            <div class="entry-content">
                                                <p> @item.Text</p>
                                            </div>
                                            <footer class="entry-footer">
                                                <a class="btn btn-default" href="blog-detail.html">Read More</a>
                                            </footer>
                                        </div>
                                    </div>
                                </article>
                            }                         
                        </div>
                        <a href="#" id="loadmore">Load More Posts</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<section class="social-network section-padding">
    <div class="container">
        <div class="center-content">
            <h2 class="section-title">Follow Us</h2>
            <span class="underline center"></span>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <ul>
            @foreach (var item in Model.Logos)
            {
                <li>
                    <a class="@item.Classs" href="#" target="_blank">
                        <span>
                            <i class="@item.Image"></i>
                        </span>
                    </a>
                </li>
            }

        </ul>
    </div>
</section>

